[Desktop Entry]
Version=1.0
Type=Application
Name=OBRevenge Desktop Activity Settings
Comment=Workspace Settings for OBRevenge OS
Categories=Utility;Settings
Exec=desktop-activity.sh
Icon=/usr/share/icons/Faenza/categories/48/gnome-settings.png
