[Desktop Entry]
Version=1.0
Type=Application
Name=OBRevenge Software Tool
Comment=Software Installation Tool for OBRevenge
Categories=Utility;
Exec=obsoftwareinstall2.py
Icon=system-software-install
