#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Revenge Live USB Creator
Comment=Live USB Tool for Mate Revenge OS
Categories=Utility;Settings
Exec=isotool.sh
Icon=gnome-settings
